@import "tailwindcss";
/* 
@font-face {
  font-family: "Anaktoria"; 
  src: url("./assets/fonts/Anaktoria_hint.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --default-font-family: "Anaktoria"
} */
