@import "tailwindcss";

@font-face {
  font-family: "Sunday"; 
  src: url("./assets/fonts/Sunday-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-sunday:"Sunday";
    /* --color-bg: #fffdfb; */
    --color-bg:#f7f1eb;
    --color-maroon : #8e2d2d;
    --color-grey: #545454;
}


/* @font-face {
  font-family: 'Sunday-Regular';
  src: url('https://static.wfonts.com/data/2016/07/12/sunday/Sunday-Regular.otf') format('otf');
  font-display: swap;
}

#preview-render {
  font-family: 'Sunday-Regular', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 32px;
  color: #373c44;
} */